@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');

body {
  margin: 0;
}

html, body, #root {
  display: flex;
  flex: 1;
  height: 100%
}

html, body, #root, #root>div {
  --main-bg-color: #292929;
  background-color: var(--main-bg-color);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

